/** Definição de variáveis */

:root {
    --btn-bg-primary: hsl(240, 100%, 60%);
    --btn-bg-secondary: hsl(0, 0%, 100%);
    --btn-txt-primary: hsl(240, 100%, 60%);
    --btn-txt-secondary: hsl(0, 0%, 100%);
    --border-color-shine-blue: #119cdd;
}

.sm_show {
    display: none
}

.sm_active .sm_show {
    display: inline-block
}

.sm_active .sm_hide {
    display: none;
}

.sm_active .sm_minus-text {
    display: none
}

.sm_container_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.sm_container_btn:before {
    padding: 5px 15px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

.sm_active .sm_fade:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0
}


/*? ///////////////// Inicio Outline /////////////// */

.sm_btn_outline {
    padding: 1px 5px 1px 5px;
    border: 1px solid var(--btn-bg-primary);
    background-color: var(--btn-bg-primary);
    color: var(--btn-bg-secondary);
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.5s;
}

.sm_btn_outline:hover {
    color: #ffffff;
    opacity: 0.5;
    background-color: var(--btn-bg-primary);
}


/** ///////////////// Fim Outline /////////////// */


/** ///////////////// Inicio Float /////////////// */

.sm_btn_float {
    background-color: var(--btn-bg-primary);
    color: var(--btn-txt-secondary);
    border: 1px solid var(--btn-bg-primary);
    border-radius: 50px;
    padding: 7px 10px;
    width: 100%;
    max-width: 200px;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s;
}

.sm_btn_float:hover {
    opacity: 0.5;
}

.sm_float {
    position: relative;
}

.sm_float.sm_active .sm_container_btn.sm_fade:before {
    background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.78) 40%);
}


/** ///////////////// Fim Float /////////////// */


/*? ///////////////// Inicio Mega Elipsis /////////////// */

.sm_mega-elipsis {
    position: relative;
}

.sm_active .sm_mega-elipsis-container {
    position: absolute;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sm_mega-elipsis-container.sm_fade:before {
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.78), rgba(255, 255, 255, 0.78) 40%);
}

.sm_mega-elipsis:not(.sm_active) .sm_mega-elipsis-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}

.sm_mega-elipsis:not(.sm_active) .sm_flex-mega-elipsis {
    flex-direction: row;
}

.sm_mega-elipsis:not(.sm_active) .sm_mega-elipse {
    margin: 0 5px;
}

.sm_mega-elipsis:not(.sm_active) .sm_mega-elipse:not(:first-child) {
    display: none;
}

.sm_mega-elipse {
    height: 7px;
    width: 7px;
    background: var(--btn-bg-primary);
    border-radius: 50%;
    border: 4px solid var(--border-color-shine-blue);
    outline: none;
    margin: 3px 0;
}

.sm_flex-mega-elipsis {
    cursor: pointer;
    width: fit-content;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}