:root {
    --font: 'Roboto', sans-serif;
    --font-color: hsl(0, 0%, 57%);
    --font-color-h1: hsl(0, 0%, 100%);
    --font-color-h2: hsl(231, 82%, 13%);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #6c63ff;
    height: 100%;
    width: 100%;
    color: var(--font-color);
    font-family: var(--font);
}

h1 {
    text-align: center;
    color: var(--font-color-h1);
    padding-bottom: 40px;
    padding-top: 40px;
}

h2 {
    text-align: center;
    color: var(--font-color-h2);
    font-size: 28px;
}

[class*="query"] {
    margin-top: 20px;
}

.swiper-container {
    padding-bottom: 100px;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    max-width: 1180px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.card {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px rgb(204, 204, 204);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    min-height: 200px;
    max-width: 530px;
    margin-bottom: 40px;
    border-radius: 8px;
    position: relative;
}

.card.multiples {
    max-width: 100%;
    position: relative;
}

.bullets {
    position: absolute;
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    top: 50%;
}

.bullets i {
    font-size: 38px;
    color: rgba(2, 217, 255, 0.979);
    background-color: #ffffff;
    border-radius: 50%;
}

.bullets i:first-child {
    margin-left: -4%;
}

.bullets i:last-child {
    margin-right: -7.3%;
}

.btn-source-code {
    position: absolute;
    right: 4%;
    background-color: black;
    color: #ffffff;
    font-weight: 700;
    padding: 2px 4px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.btn-source-code:hover {
    opacity: 0.5;
}

@media (max-width:768px) {
    .btn-source-code {
        top: 10%
    }
    h2 {
        text-align: left;
    }
    .card {
        width: calc(90% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
    .bullets i {
        display: none;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 0;
    }
}


/*?  MODAL  */

.modal-container {
    position: fixed;
    height: 100%;
    width: calc(100% - 40px);
    left: 0;
    top: 0;
    background-color: #00000050;
    z-index: 100;
    padding: 0 20px;
    display: none;
}

.modal-container.active {
    display: block;
}

.modal-container.active .modal {
    display: block;
    opacity: 1;
}

.modal {
    background-color: #ffffff;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    max-width: 500px;
    max-height: 80vh;
    position: relative;
    top: 5%;
    margin: auto;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 1s;
}

.modal-close {
    position: absolute;
    right: 5%;
    cursor: pointer;
}

.modal-title {
    text-align: center;
}

.modal-text {}

.modal-button {}